  
.contenido {
  margin-top: 8.5vh ;
  align-items: start;
  justify-content: center;
  background: url(../public/assets/fondos/fondoNoche.png);  
  background-size: cover;
  background-position:center;  
  
  top: 3%;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.image {
    width: 100%;
    height: auto;
}

.box {
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    border-style: solid;
    border-color: black;
    width: 75%;
    padding: 15px;
}

.tequila {
    color: #FFFDEF;;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.text1 {
    color: #FFF;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80%;
}

.textBox1 {
    color: #000;
    font-size: 4.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.textBox2 {
    color: #000;
    font-size: 3.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.artistB {
    background-color: #00294E;
}

.wormB {
    background-color: black;
}

.artist1 {
    color: #FFFDEF;
    font-size: 5.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.artist2 {
    color: #FFF;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.wormText {
    color: #FFF;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .box {
    width: 70%;
    padding: 10px;
  }

  .tequila {
      font-size: 4vw;
  }

  .text1 {
      font-size: 2.8vw;
      width: 70%;
  }

  .textBox1 {
      font-size: 3.5vw;
  }

  .textBox2 {
      font-size: 2.5vw;
  }

  .artist1 {
      font-size: 3.5vw;
  }

  .artist2 {
      font-size: 2.5vw;
  }

  .wormText {
      font-size: 2.5vw;
  }
  

}

/* pantalla grande */
@media (min-width: 1121px) {
  .box {
    width: 75%;
    padding: 0px;
  }

  .tequila {
      font-size: 2vw;
  }

  .text1 {
      font-size: 1.2vw;
      width: 80%;

  }

  .textBox1 {
      font-size: 1.6vw;
  }

  .textBox2 {
      font-size: 1vw;
  }

  .artist1 {
      font-size: 3.5vw;
  }

  .artist2 {
      font-size: 2.5vw;
  }

  .wormText {
      font-size: 2.5vw;
  }

  .contenido {
    margin-top: 9.5vh 
  }

}