.fondo {
    background-color: black ;

}

.text1 {
    text-align: justify;
    color: #FFF;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2 {
    text-align: justify;
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.text3 {
    color: #FFF;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.WormCircle {
    border-radius: 50%;
    height: auto;
    width: 140px;
}

/* LG Screen */
@media (min-width: 1121px) {   
    .text1 {
        font-size: 2.2vw;
    }

    .text2 {
        font-size: 1.1vw;
    }

    .text3 {
        font-size: 1vw;
    }

    .caja {
        margin-left: 9vw;
        margin-right: 9vw;
    }

    .WormCircle {
        height: auto;
        width: 200px;
    }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .text1 {
        font-size: 2.5vw;
    }

    .text2 {
        font-size: 1.3vw;
    }

    .text3 {
        font-size: 1vw;
    }

    .caja {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .WormCircle {
        height: auto;
        width: 160px;
    }
    
}