.fondo {
    background-image: url(../public/assets/fondos/tierra.png);
    align-items: center;
    justify-content:center;  
    background-size:cover;
    background-position:top;  
    width: 100%;
    height: auto;
    text-align: center;
}

.text1 {
    color: #000;
    font-size: 3.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.text2 {
    color: #000;
    font-size: 3.8vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.contorno {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.box {
    background-color: rgb(255, 255, 255);
    width: auto;
    border-radius: 65px;
    border-style: solid;
    border-color: black;
}

.mingles {
    margin-bottom: -10vw;    
}

.box {
    padding: 10px;
}

.imagen {
    width: 300px;
    height: auto;
}

/* LG Screen */
@media (min-width: 1121px) {   

    .text1 {
        font-size: 1.2vw;
    }
    
    .text2 {
        font-size: 1.2vw;
    }

    .box {
        width: 70%;
        margin: 25px;
        padding: 10px;
    }

    .mingles {
        margin-bottom: -5vh;    
    }
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .text1 {
        font-size: 2vw;
    }
    
    .text2 {
        font-size: 2vw;
    }

    .box {
        width: 60%;
        margin: 25px;
        padding: 10px;
    }

    .mingles {
        margin-bottom: -6vh;    
    }
}