.contenido {
    align-items: start;
    justify-content: center;
    background: url(../public/assets/rectangle4.png);  
    background-size: cover;
    background-position:center;  
    width: 100vw;
    height: 100vh;
    text-align: center;
  }

.text1 {
    color: #FFFDEF;
    font-size: 9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttons{
    
    content: url(../public/assets/buttons/JOIN_MINGLES_buttonUP.png);
    width: 5vw;
    height: auto;
    margin-top: 5vh;
}

.buttons:hover {   
    content: url(../public/assets/buttons/JOIN_MINGLES_buttondown.png);
}

.buttons:active {   
    content: url(../public/assets/buttons/JOIN_MINGLES_buttondown.png);
}

.contorno {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .3vw;
}

.n1 {
    width: 110px;
    height: auto;
}

.n2 {
    width: 110px;
    height: auto;
}

.n3 {
    width: 110px;
    height: auto;
}

/* Mobile */
@media (min-width: 1121px) {   

    .text1 {
        font-size: 5.5vw;
    }

    .contorno {
        -webkit-text-stroke-width: .25vw;
    }

    .n1 {
        width: 250px;
        height: auto;
    }

    .n2 {
        width: 250px;
        height: auto;
    }

    .n3 {
        width: 250px;
        height: auto;
    }
    
    .buttons {
        width: 10vw;
        height: auto;
    }
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {


    .text1 {
        font-size: 6.5vw;
    }

    .contorno {
        -webkit-text-stroke-width: .25vw;
    }

    .n1 {
        width: 180px;
        height: auto;
    }

    .n2 {
        width: 180px;
        height: auto;
    }

    .n3 {
        width: 180px;
        height: auto;
    }
    
    .buttons {
        width: 15vw;
        height: auto;
    }
}