.fondo {
    background-color: black ;

}

.text1 {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2 {
    color: #FFF;
    font-size: 13.811px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.text3 {
    color: #FFF;
    font-size: 15.404px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.WormCircle {
    border-radius: 50%;
}

/* Mobile */
@media (max-width: 700px) {   
    .text1 {
        font-size: 18px;
    }
    
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .text1 {
        font-size: 26px;
    }
    
}