
.contenido {
    align-items: start;
    justify-content: center;
    background: url(../public/assets/fondos/fondoLast.png);  
    background-size: cover;
    background-position:center;  
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.our {
    color: #FFFDEF;
    font-size: 12vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .7vw;
}

.scroll {
    width: 95%;
    height: 80%;
}

/* Mobile */
@media (min-width: 1121px) {   

    .our {
        font-size: 5vw;
        -webkit-text-stroke-width: .25vw;
    }

    .scroll {
        height: 70%;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

    .our {
        font-size: 6vw;
        -webkit-text-stroke-width: .25vw;
    }

    .scroll {
        height: 75%;
    }
}