.fondo {
    /*background: url('../public/assets/fondos/primerFondo.png'), lightgray 0px 0px / 100% 100% no-repeat;*/
    position: relative;
}

.contenido {
    position: absolute;
}

.text1 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.text2 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.contorno {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

.box {
    background-color: rgb(255, 255, 255);
    width: auto;
    border-radius: 65px;
    border-style: solid;
    border-color: black;
}

.mingles {
    position: absolute;
    bottom: -80px;
    margin-top: 100px;
}

.box {
    padding: 20px;
    margin-left: 10px;
}

/* Mobile */
@media (max-width: 700px) {   
    .contenido {
        margin-top: 10px;
    }

    .text1 {
        font-size: 12px;
    }
    
    .text2 {
        font-size: 12px;
    }

    .box {
        padding: 8px;
        margin-left: 10px;
    }
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .text1 {
        font-size: 20px;
    }
    
    .text2 {
        font-size: 20px;
    }

    .box {
        padding: 20px;
        margin-left: 10px;
    }
}