.fondo {
    background-color: black ;

}

.text1 {
    color: #FFFDEF;
    font-size: 9vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2 {
    color: #FFF;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttons {
    color: #000;
    font-size: 44.181px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.WormCircle {
    width: 180px;
    height: auto;
}

.buttons {
    font-size: 4.5vw;
}

/* Mobile */
@media (min-width: 1121px) {    


    .text1 {
        font-size: 40px;
    }

    .text2 {
        font-size: 16px;
    }

    .WormCircle {
        width: 220px;
        height: auto;
    }

    .buttons {
        font-size: 1.6vw;
    }

    .caja {
        width: 40%;
    }
    
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .text1 {
        font-size: 34px;
    }

    .text2 {
        font-size: 14px;
    }

    .buttons {
        font-size: 2vw;
    }

    .caja {
        width: 40%;
    }
    
}