.fondo {
    /*background: url('../public/assets/fondos/primerFondo.png'), lightgray 0px 0px / 100% 100% no-repeat;*/
    position: relative;
}

.contenido {
    position: absolute;
}

.text1 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.text2 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.contorno {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

/* Mobile */
@media (max-width: 700px) {   
    .contenido {
        margin-top: 10px;
    }

    .text1 {
        font-size: 14px;
    }
    
    .text2 {
        font-size: 14px;
    }
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .text1 {
        font-size: 26px;
    }
    
    .text2 {
        font-size: 26px;
    }
}