.fondo {
    background-image: url(../public/assets/fondos/primerFondo.png);
    align-items: start;
    justify-content: center;  
    background-size:cover;
    background-position:center;  
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.myButton1{
    cursor:pointer;
    content: url(../public/assets/buttons/JOIN_MINGLES_buttonUP.png);
    width: 30vw;
    height: 100%;

}

.myButton1:hover {   
    content: url(../public/assets/buttons/JOIN_MINGLES_buttondown.png);
}

.myButton1:active {   
    content: url(../public/assets/buttons/JOIN_MINGLES_buttondown.png);
}

.myButton2{
    cursor:pointer;
    content: url(../public/assets/buttons/Manifesto_Download_buttonUp.png);
    width: 30vw;
    height: 100%;

}

.myButton2:hover {   
    content: url(../public/assets/buttons/Manifesto_Download_buttonDown.png);
}

.myButton2:active {   
    content: url(../public/assets/buttons/Manifesto_Download_buttonDown.png);
}


.text1 {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FFFDEF;
    font-size: 5vw;
    margin-top: 40px;
}

.buttons {
    font-size: 2.4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 75%;
}

.nftproject {
    font-size: 5.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.textNftProject {
    color: #FFF;
    font-size: 4vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}

.forsaken {
    color: #FFFDEF;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}

.forsaken2 {
    color: #FFF;
    font-size: 3vw;
    font-style: normal;
    font-weight: bolder;
    line-height: normal; 
}

.worm {
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: bolder;
    line-height: normal; 
}

.wormImg {
    border: black;
    border-style: solid;
    border-radius: 50%;
    border-width: thick;
    width: 120px;
    height: auto;
    margin-top: 30px;
}

.contorno {
    -webkit-text-stroke-width: .3vw;
    -webkit-text-stroke-color: black;
}

.contorno2 {
    -webkit-text-stroke-width: .3vw;
    -webkit-text-stroke-color: white;
}


.contorno3 {
    -webkit-text-stroke-width: .2vw;
    -webkit-text-stroke-color: black;
}

/* LG Screen */
@media (min-width: 1121px) {   
    .text1 {
        font-size: 3vw;
    }
    
    .buttons {
        font-size: 1.5vw;
    }
    
    .nftproject {
        font-size: 3vw;
    }
    
    .textNftProject {
        font-size: 1.5vw;
    }
    
    .forsaken {
        font-size: 2.5vw;
        padding-top: 10px;
    }
    
    .forsaken2 {
        font-size: 3.5vw;
    }
    
    .worm {
        font-size: 2vw;
    }

    .wormImg {
        width: 250px;
        height: 250px;
    }

    .contenido {
        padding-top: 5vh;
    }

    .contorno {
        -webkit-text-stroke-width: .15vw;
        -webkit-text-stroke-color: black;
    }

    .myButton1 {
        width: 10vw;
        height: auto;
    }

    .myButton2 {
        width: 10vw;
        height: auto;
    }
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .text1 {
        font-size: 3vw;
    }
    
    .buttons {
        font-size: 1.5vw;
    }
    
    .nftproject {
        font-size: 4vw;
    }
    
    .textNftProject {
        font-size: 2vw;
    }
    
    .forsaken {
        font-size: 3.5vw;
    }
    
    .forsaken2 {
        font-size: 3.5vw;
    }
    
    .worm {
        font-size: 2vw;
    }

    .wormImg {
        width: 250px;
        height: 250px;
    }

    .contenido {
        padding-top: 5vh;
    }

    .contorno {
        -webkit-text-stroke-width: .2vw;
        -webkit-text-stroke-color: black;
    }

    .myButton1 {
        width: 15vw;
        height: auto;
    }

    .myButton2 {
        width: 15vw;
        height: auto;
    }
}