.text1 {
    color: #000;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.buttons {
    color: #000;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 80%;
}

.cont {
    border-style: solid;
}

/* Mobile */
@media (min-width: 1120px) {   

    .text1 {
        font-size: 25px;
    }

    .buttons {
        width: 15%;
    }
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {


    .text1 {
        font-size: 40px;
    }
    
    .buttons {
        width: 30%;
    }
}