
.contenido {
    margin-top: 10vh;
    align-items: start;
    justify-content: center;
    background: url(../public/assets/fondos/roadmap.png);  
    background-size: cover;
    background-position: top;  
    height: 900px;
    text-align: center;
}

.roadmap {
    color: #FFFDEF;
    font-size: 10vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-text-stroke-width: .3vw;
    -webkit-text-stroke-color: black;
}

.mingle {
    width: 55vw;
}

.text {
    color: #000;
    font-size: 3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    color: #000;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    -webkit-text-stroke-width: .1vw;
    -webkit-text-stroke-color: white;
}

.posHere {
    position: relative;
}

.here {
    position: absolute;
    top: 0%;
    left: 85%;
}

.hereImg {
    width: 60px;
    height: auto;
}

.scroll {
    height: 75%;
    width: 85%;
    margin-bottom: 40px;
}

.imagenes {
    width: 35vw;
    height: auto;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
    .roadmap {
        font-size: 5.5vw;
        -webkit-text-stroke-width: .2vw;
    }

    .mingle {
        width: 35vw;
    }

    .text {
        font-size: 2vw;
    }
    
    .title {
        font-size: 4vw;
        -webkit-text-stroke-width: .1vw;
    }

    .imagenes {
        width: 25vw;
        height: auto;
    }

    .hereImg {
        width: 100px;
        height: auto;
    }

    .here {
        position: absolute;
        top: 0%;
        left: 82%;
    }

    .contenido {
        height: 900px;
    }

}

/* pantalla grande */
@media (min-width: 1121px) {
  
    .roadmap {
        font-size: 4vw;
        -webkit-text-stroke-width: .15vw;
        
    }

    .mingle {
        width: 25vw;
    }

    .text {
        font-size: 1.2vw;
    }
    
    .title {
        font-size: 2.2vw;
        -webkit-text-stroke-width: .1vw;
    }

    .scroll {
        height: 70%;
        width: 55%;
    }

    .imagenes {
        width: 12vw;
        height: auto;
    }

    .hereImg {
        width: 100px;
        height: auto;
    }

    .here {
        position: absolute;
        top: 0%;
        left: 78%;
    }

    .contenido {
        height: 1500px;
    }

}